.venv/
flagged/
dist/
build/
model_files/
__pycache__/
*.pyc
*.tmp
*.swp
.vscode/
*.log
*.log.*
superprompter_log.txt
superprompter_log.txt.*
**/*.safetensors
**/tokenizer_cache.json
**/special_tokens_map.json
**/added_tokens.json
**/config.json
**/spiece.model
**/generation_config.json
**/*.gz
**/*.spec
.selected_target
